<h2 style="text-align: center ;">Reactive Form</h2>
<div>
    <div class="actionBtn">
        <button mat-stroked-button (click)="addButton()" color="primary">Add</button>
        <button mat-stroked-button (click)="onSubmit()" [disabled] = "myForm.invalid" color="primary">Submit</button>
    </div>
    <ng-container>
        <div [formGroup]="myForm">
            <div *ngIf="showForm" formArrayName="dynamicControls">
              <div *ngFor="let group of dynamicControls.controls; let i = index" [formGroupName]="i" class="input-field-wrap">
                <mat-form-field appearance="fill">
                  <mat-label>First Input</mat-label>
                  <input matInput formControlName="firstInput" />
                </mat-form-field>
          
                <mat-form-field appearance="fill">
                  <mat-label>Second Input</mat-label>
                  <input matInput formControlName="secondInput" />
                </mat-form-field>
          
                <mat-form-field appearance="fill">
                  <mat-label>Textarea</mat-label>
                  <textarea matInput formControlName="textArea"></textarea>
                </mat-form-field>
                <div>
                    <button mat-stroked-button (click)="deleteButton(i)" color="warn">Delete</button>
                </div>
              </div>
             
            </div>
        </div>
    </ng-container>
</div>

